.Services {
  width: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: -80px 0;

  &__wp {
    width: 100%;
    max-width: 1152px;
    
    padding: 200px var(--external-padding);
    box-sizing: border-box;
    transition: all .4s;

    .Services {
      &__header {
        margin-bottom: calc( var(--general-space) * 2);
        h1, h2 {
          color: var(--color-white) !important;
        }
      }

      &__services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .Services {
    margin: -40px 0;

    &__wp {
      padding: 150px var(--external-padding);
      .Services {
        &__services {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: flex-start;

          .Service:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}