.CardItem {
  padding: var(--external-padding) 0;
  box-sizing: border-box;
  border-bottom: solid 2px var(--color-light-gray);

  &__title {
    font-family: var(--font-ruby);
    font-weight: bolder;
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: calc(var(--general-space) / 3);
  }

  &__subtitle {
    font-family: var(--font-robotoSlab);
    font-weight: bolder;
    font-size: 16px;
    color: var(--main-color);
    text-transform: capitalize;
    margin-bottom: calc(var(--general-space) / 2);
    display: block;
  }

  &__date {
    font-family: var(--font-ruby);
    font-weight: light;
    color: var(--color-dark-gray);
    text-transform: lowercase;
    font-size: 13px;
    margin-bottom: calc(var(--general-space) / 2);
  }

  &__city {
    font-family: var(--font-ruby);
    font-weight: light;
    color: var(--color-blue);
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: calc(var(--general-space) / 2);
  }

  &__description {
    font-weight: normal;
    color: var(--color-black);
    text-align: left;
    line-height: 1.3;
  }
}

@media only screen and (min-width:730px) {
  .CardItem {
    padding: var(--external-padding);
    margin-left: calc(var(--external-padding) * 2);
    box-sizing: border-box;
    border-bottom: solid 2px var(--color-light-gray);
  }
}