.Iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  width: 100%;
  max-width: 300px;
  margin-bottom: var(--general-space);
}

.Iconos:hover .icono:not(:hover) {
  opacity: .2;
  background-color: var(--color-black);
  color: var(--color-black);
}