@import './reset.scss';
@import './vars.scss';
@import './maxmin.scss';
@import './fonts.scss';
@import './carrusel.scss';

* {
  font-family: var(--font-ruby);
}

#root, .App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button {
  width: 100%;
  height: 36px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid 2px var(--color-blue);
  background-color: var(--color-white);

  font-family: var(--font-robotoSlab);
  font-size: 16px;
  color: var(--color-blue);
  text-decoration: none;

  transition: all .4s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.title {
  color: var(--main-color);
  font-family: var(--font-robotoSlab);
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.subtitle {
  color: var(--main-color);
  font-family: var(--font-robotoSlab);
  font-weight: bolder;
  font-size: 18px;
  opacity: .6;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 1.1px;
}

.alice-carousel__dots-item {
  transition: all .4s;
  background-color: var(--color-blue) !important;
  opacity: .3;
}

.alice-carousel__dots-item:hover {
  opacity: 1;
}

.alice-carousel__dots-item.__active {
  background-color: var(--color-blue) !important;
  opacity: 1;
}

.appear {
  animation-name: appearAnimation;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}