.header {
  width: 100%;
  background-color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  z-index: 10;
  top: 0;
  transition: all.4s;

  &__wp{
    width: 100%;
    height: 80px;
    max-width: 1152px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: calc(var(--external-padding) / 2) var(--external-padding);
    box-sizing: border-box;
  }

  &__logo {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__item{
      margin: 0 10px;
      cursor: pointer;
      transition: all .4s;
      color: var(--color-black);
      font-family: var(--font-ruby);

      &-selected {
        color: var(--main-color) !important;
      }
    }

    &__item:hover {
      color: var(--color-blue);
    }

    &__item:last-child {
      margin-right: 0;
    }

    &__item:not(:first-child){
      display: none;
    }

    &__item:first-child{
      display: flex;
    }
  }

  &__nav:hover &__nav__item:not(:hover) {
    color: var(--color-black);
    opacity: .3;
  }
}

@media only screen and (min-width:600px) {
  .header {
    &__nav {
      &__item:first-child{
        display: none;
      }
      &__item:not(:first-child){
        display: flex;
      }
    }
  }
}
