.Works {
  padding: var(--external-padding);
  box-sizing: border-box;
  width: 100%;
  max-width: 1152px;
  margin-bottom: calc( var(--external-padding) * 2 );

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    margin-bottom: calc(var(--general-space) * 2);
  }

  &__body {
    display: grid;
    margin-bottom: calc(var(--general-space) * 2);
  }
}

@media only screen and (min-width:730px) {
  .Works {
    &__body {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      grid-row-gap: var(--general-space);

      &__item {
        box-sizing: border-box;
        border-right: solid 2px var(--color-light-gray);
        padding-right: calc(var(--external-padding) * 2);
        box-sizing: border-box;
      }

      &__item:nth-child(2n) {
        border-right: none;
      }

      &__item:last-child, &__item:nth-last-child(2){
        .CardItem {
          border-bottom: none;
        }
      }
    }
  }
}