.footer {
  padding: calc(var(--general-space) ) 0;
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: var(--font-product);
    font-size: 18px;
    font-weight: bolder;
    color: var(--color-black);
    text-align: center;
    margin-bottom: calc(var(--general-space) / 3);
    letter-spacing: 1.5px;
  }

  &__city {
    font-family: var(--font-product);
    font-weight: normal;
    color: var(--color-dark-gray);
    text-align: center;
    text-decoration: none;
    transition: all .4s;
    margin-bottom: var(--general-space);
  }

  &__city:hover {
    color: var(--color-blue);
  }
}

